<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>

<!--<script src="//cdn.jsdelivr.net/npm/leancloud-storage@latest/dist/av-min.js"></script>
<script src='//cdn.jsdelivr.net/npm/valine@latest/dist/Valine.min.js'></script>-->

<div id="vcomments"></div>
<script>
    var notify = <%= theme.valine.notify %> == true ? true : false;
    var verify = <%= theme.valine.verify %> == true ? true : false;
    var visitor = <%= theme.valine.visitor %> == true ? true : false;
new Valine({
    el: '#vcomments',
    notify: notify,
    verify: verify,
    appId: '<%= theme.valine.app_id %>',
    appKey: '<%= theme.valine.app_key %>',
    lang: 'en',
    placeholder: '<%= theme.valine.placeholder %>',
    avatar: '<%= theme.valine.avatar %>',
    pageSize: <%= theme.valine.pageSize %>,
    visitor: visitor
    });
</script>
